[Desktop Entry]
Name=Network
Name[af]=Netwerk
Name[ar]=الشبكة
Name[as]=নেটৱাৰ্ক
Name[ast]=Rede
Name[be]=Сетка
Name[bg]=Мрежови
Name[bn]=নেটওয়ার্ক
Name[ca]=Xarxa
Name[ca@valencia]=Xarxa
Name[crh]=Şebeke
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[ga]=Líonra
Name[gl]=Rede
Name[gu]=નેટવર્ક
Name[he]=רשת
Name[hi]=नेटवर्क
Name[hu]=Hálózat
Name[id]=Jaringan
Name[it]=Rete
Name[ja]=ネットワーク
Name[kn]=ಜಾಲಬಂಧ
Name[ko]=네트워크
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mk]=Мрежа
Name[ml]=ശൃംഖല
Name[mr]=नेटवर्क
Name[nb]=Nettverk
Name[nl]=Netwerk
Name[or]=ନେଟୱର୍କ
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[te]=నెట్‌వర్క్
Name[th]=เครือข่าย
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Мережа
Name[vi]=Mạng
Name[zh_CN]=网络
Name[zh_HK]=網絡
Name[zh_TW]=網路
Comment=Network settings
Comment[af]=Netwerkinstellings
Comment[ar]=إعدادات الشّبكة
Comment[as]=নেটৱাৰ্ক সংহতিসমূহ
Comment[ast]=Configuración de la rede
Comment[be]=Настройкі сеткі
Comment[bg]=Мрежови настройки
Comment[bn]=নেটওয়ার্ক সেটিং
Comment[ca]=Paràmetres de la xarxa
Comment[ca@valencia]=Paràmetres de la xarxa
Comment[crh]=Şebeke ayarları
Comment[cs]=Nastavení sítě
Comment[da]=Netværksindstillinger
Comment[de]=Netzwerkeinstellungen
Comment[el]=Ρυθμίσεις δικτύου
Comment[en_GB]=Network settings
Comment[eo]=Retagordoj
Comment[es]=Configuración de red
Comment[et]=Võrgusätted
Comment[eu]=Sareko ezarpenak
Comment[fa]=تنظیمات شبکه
Comment[fi]=Verkon asetukset
Comment[fr]=Paramètres réseau
Comment[ga]=Socruithe an líonra
Comment[gl]=Preferencias da rede
Comment[gu]=નેટવર્ક સુયોજનો
Comment[he]=הגדרות רשת
Comment[hi]=नेटवर्क सेटिंग्स
Comment[hu]=Hálózati beállítások
Comment[id]=Pengaturan jaringan
Comment[it]=Impostazioni di rete
Comment[ja]=ネットワークの設定
Comment[kn]=ಜಾಲಬಂಧಧ ಸಿದ್ಧತೆಗಳು
Comment[ko]=네트워크 설정
Comment[lt]=Tinklo nustatymai
Comment[lv]=Tīkla iestatījumi
Comment[mk]=Мрежни поставувања
Comment[ml]=ശൃംഖലയുടെ ക്രമീകരണങ്ങള്‍
Comment[mr]=नेटवर्क सेटिंग्स्
Comment[nb]=Innstillinger for nettverk
Comment[nl]=Netwerkinstellingen
Comment[or]=ନେଟୱର୍କ ସଂରଚନା
Comment[pa]=ਨੈੱਟਵਰਕ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia sieci
Comment[pt]=Definições de rede
Comment[pt_BR]=Configurações de rede
Comment[ro]=Configurări de rețea
Comment[ru]=Сетевые параметры
Comment[sk]=Sieťové nastavenia
Comment[sl]=Omrežne nastavitve
Comment[sr]=Подешавања мреже
Comment[sr@latin]=Podešavanja mreže
Comment[sv]=Nätverksinställningar
Comment[ta]=பிணைய அமைவுகள்
Comment[te]=నెట్‌వర్క్ అమరికలు
Comment[th]=ตั้งค่าเครือข่าย
Comment[tr]=Ağ ayarları
Comment[ug]=تور تەڭشەك
Comment[uk]=Налаштування мережні
Comment[vi]=Thiết lập mạng
Comment[zh_CN]=网络设置
Comment[zh_HK]=網絡設定值
Comment[zh_TW]=網路設定值
Exec=gnome-control-center network
Icon=network-workgroup
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=network
X-GNOME-Bugzilla-Version=3.4.3
X-GNOME-Settings-Panel=network
# Translators: those are keywords for the network control-center panel
Keywords=Network;Wireless;IP;LAN;Proxy;
Keywords[ar]=الشبكة;لاسلكي;عنوان أي بي;بروتوكول الإنترنت;الشبكة المحلية;الوسيط;
Keywords[as]=নেটৱাৰ্ক;বেতাঁৰ;IP;LAN;প্ৰক্সি;
Keywords[be]=Сетка;Сеціва;Бесправадное злучэнне;IP;LAN;Проксі;
Keywords[bg]=Мрежа;Безжична;IP;LAN;Сървър-посредник;
Keywords[ca]=Xarxa;Sense fil;IP;LAN;Servidor intermediari;
Keywords[ca@valencia]=Xarxa;Sense fil;IP;LAN;Servidor intermediari;
Keywords[crh]=Şebeke;Kabelsiz;İP;LAN;Proksi;
Keywords[cs]=síť;bezdrátová;IP;LAN;proxy;
Keywords[da]=Netværk;Trådløs;IP;LAN;Proxy;
Keywords[de]=Netzwerk;Drahtlos;IP;LAN;Proxy;
Keywords[el]=Δίκτυο;Ασύρματο;IP;LAN;Proxy;
Keywords[en_GB]=Network;Wireless;IP;LAN;Proxy;
Keywords[es]=Red;Inalámbrica;IP;LAN;Proxy;
Keywords[et]=Võrk;Kohtvõrk;WiFi;juhtmevaba;IP;proksi;
Keywords[eu]=Sarea;Haririk gabea;IPa;Sare lokala;Proxy-a;
Keywords[fa]=شبکه;بیسیم;آی‌پی;لن;پیشکار;پروکسی;
Keywords[fi]=Verkko;Langaton;IP;LAN;lähiverkko;välityspalvelin;proxy;
Keywords[fr]=Réseau;Sans fil;WiFi;IP;LAN;Serveur;Mandataire;Proxy;Connexion;
Keywords[gl]=Rede;Sen fíos;IP;LAN;Proxy;
Keywords[gu]=નેટવર્ક;વાયરલેસ;IP;LAN;પ્રોક્સી;
Keywords[he]=רשת;אלחוטי;IP;LAN;פרוקסי;
Keywords[hi]=नेटवर्क;वायरलेस;आईपी;लैन;प्रॉक्सी;
Keywords[hu]=Hálózat;Vezeték nélküli;IP;LAN;Proxy;
Keywords[it]=Rete;Network;Wireless;IP;LAN;Proxy;
Keywords[ja]=Network;Wireless;IP;LAN;Proxy;ネットワーク;無線;プロキシ;
Keywords[ko]=Network;네트워크;Wireless;무선;IP;LAN;랜;Proxy;프록시;
Keywords[lt]=Tinklas;Belaidis;IP;LAN;Tarpinisserveris;
Keywords[lv]=Tīkls;Bezvadu;IP;LAN;Starpnieks;
Keywords[mk]=Мрежа;Безжичен;IP;LAN;Прокси;
Keywords[mr]=नेटवर्क;वायरलेस;IP;LAN;प्रॉक्सी;
Keywords[nb]=Nettverk;Trådløs;IP;LAN;Proxy;
Keywords[nl]=Network;Wireless;IP;LAN;Proxy;Netwerk;Draadloos;
Keywords[or]=ନେଟୱର୍କ;ବେତାର;IP;LAN;ପ୍ରକ୍ସି;
Keywords[pa]=Network;Wireless;IP;LAN;ਨੈੱਟਵਰਕ,ਬੇਤਾਰ,ਆਈਪੀ,ਲੈਨ,ਪਰਾਕਸੀ;
Keywords[pl]=Sieć;Bezprzewodowa;IP;LAN;Pośrednik;Wi-Fi;WLAN;
Keywords[pt]=Rede;Sem-Fios;IP;LAN;Proxy;
Keywords[pt_BR]=Rede;Sem fio;IP;LAN;Proxy;
Keywords[ru]=Сеть;Беспроводная;IP;LAN;Прокси;
Keywords[sl]=Omrežje;Brezžično;IP;LAN;Posredniški strežnik;
Keywords[sr]=Мрежа;Бежична;ИП;ЛАН;Посредник;
Keywords[sr@latin]=Mreža;Bežična;IP;LAN;Posrednik;
Keywords[sv]=Nätverk;Trådlöst;IP;LAN;Proxyserver;Proxy;
Keywords[ta]=பிணையம்;ஒயர்லெஸ்;ஐபி;லான்;ப்ராக்ஸி;
Keywords[te]=నెట్‌వర్కు;వైర్‌లెస్;IP;LAN;ప్రాక్సీ;
Keywords[th]=เครือข่าย;ไร้สาย;ไอพี;แลน;พร็อกซี;
Keywords[tr]=Ağ;Kablosuz;IP;LAN;Proxy;
Keywords[uk]=Мережа;Бездротова;IP;LAN;Проксі;
Keywords[vi]=Network;Mạng;Wireless;Không;dây;IP;LAN;Proxy;Uỷ;nhiệm;
Keywords[zh_CN]=Network;Wireless;IP;LAN;Proxy;网络;无线;上网;局域网;代理;
Keywords[zh_HK]=Network;Wireless;IP;LAN;Proxy;網絡;無線;區域網絡;代理;代理伺服器;
Keywords[zh_TW]=Network;Wireless;IP;LAN;Proxy;網路;無線;區域網路;代理;代理伺服器;
X-Desktop-File-Install-Version=0.21
